PORT=5000
FRONTEND_URL=http://localhost:3000
WHATSAPP_HEADLESS=true
DEFAULT_COUNTRY_CODE=91
MAX_SEND_PER_MINUTE=18
# Use local chrome/chromium path if needed
# PUPPETEER_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
